@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Electriccal components</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="lead">We are independent distributor for all kinds of electronic parts which contains 
                semiconductors, Connectors, Passive components etc. The greatest mission is to be 
                "Your most appropriate One Stop Reliable Source For Electronic Components" with our continual 
                improvements on quality, prices and services.</p>
            <p class="lead">TQIN Semiconductor Ltd is founded by professionals who have more than 10 years 
                combined experiences in various industries such as Railways, Defence and Space, Energy Meter, 
                Automation, Switch Gear and other high end Industries.</p>
            <a class="btn btn-primary btn-lg mb-3" href="/Stock/Index">Check components</a>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://www.elprocus.com/wp-content/uploads/2014/10/10-14-2014-5-54-33-PM.png" alt="Electronic components">
        </div>
    </div>
</div>

