@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>


<div class="form-text">
    <p><i>If you have additional questions, please contact our specialists.</i></p>
    <p>You can contact our Sales Department: </p>
    <p><b>Monday to Friday at 07:00AM - 06:00PM (CET/CEST).</b></p>
    <p><b>Address:</b> SNP 14, 802 30 Bratislava, Slovakia</p>
    <p><b>Telephone number:</b> +421 945 852 266</p>
    <p><b>Contact person:</b> Ing. Vladimir Novák</p>
</div>

